.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}

.orange{
    background-color: orange;
}
.lightblue{
    background-color: lightblue;
}
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.brown{
    background-color: brown;
}
